{% extends 'goods/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="background">
        {% if cart %}
        <div  class="items CartExtraOut">
        {% for item in cart %}
            <div  class="CartExtra">
                <div class="cart_style" >
                    <span>
                        <img id="CartIconPoduct" class="icon image_cart" src="{{ item.img.url }}" alt="#{{ object.title }}">
                    </span>
                    <div class="W-400">
                        <div class="cart_text">
                            <p>Product: {{ item.title }}</p>
                            <p>Cost: {{ item.cost }}</p>
                            <span>Color: {{ item.choose_color }}</span>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'del' item.id %}">
                            <button class="button_style_footer">Delete</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="W-73">
            <div class="CartExtraEnd">
                <button class="button_style_footer TextPay">Pay</button>
            </div>
        </div>
        {% else %}
            <div class="items CartExtraOut" >
                <div id="CartStyleEmpty" class="item CartExtraOut">
                    <span class="TextEmpty">Your cart is empty</span>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="background">
        <div class="ContentItems">
            <div class="ContentItem" >
                <img   class="" src="/pictures/d4dd8eb8f780a703d6339188705011db.jpg" alt="@">
                <div  class="ContentText">
                    <span  class="TextSize">
                        We invite you to visit our workshop.
                        Here, in a pleasant atmosphere, we can take your order over a cup of tea.
                        You can choose something from our range or order something new, especially for you.
                        Our designer will create a sketch according to your desires in terms of
                        functionality, size and style. You have complete freedom in creating your product.
                        Tell us what kind of things you want to put in the product
                        and what type of product it will be.
                        Our designer will offer you several options.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}