{% extends 'goods/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="background">
        <div class="items">
            <div class="item" style="width: 93%; display: flex;">
                <img style="width: 30%; margin: 10px; border-radius: 10px;" class="icon" src="/pictures/2.jpg" alt="@">
                <div style="padding: 100px 150px;">
                    <span style="font-size: 21px">
                       The idea of a creative workshop came to two young creative people
                        after working in several factories. The Drakkar workshop is a place
                        for free creativity. This is a place for bold experiments.
                        This is the place where we look for new non-trivial solutions there
                        in every product. We started work in 2016. For several years we have
                        created our own technological process. This allows us to create high
                        quality products.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}