{% extends 'goods/base.html' %}
{% block content %}
    <div class="background">
        <div class="items">
        {% for good in goods %}
            <div class="item">
                <span style="margin-left: 10px">{{ good.title }}</span>
                    <a class="my-block" href="{{ good.get_absolute_url }}">
                    {% if good.img %}
                        <img class="item" src="{{ good.img.url }}" alt="#{{ good.title }}">
                    {% else %}
                        <img src="/pictures/default.jpg" alt="@{{ good.title }}">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="background">
        <div class="items">
            <div class="item" style="width: 93%; display: flex;">
                <img style="width: 50%; margin: 10px; border-radius: 10px;" class="icon" src="/pictures/4.jpg" alt="@">
                <div style="padding: 50px 100px;">
                    <span style="font-size: 21px">
                        We invite you to visit our workshop.
                        Here, in a pleasant atmosphere, we can take your order over a cup of tea.
                        You can choose something from our range or order something new, especially for you.
                        Our designer will create a sketch according to your desires in terms of
                        functionality, size and style.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}