{% extends 'goods/base.html' %}
{% block content %}
    <div class="items">
    {% for good in goods %}
        <div class="item">
            <p>{{ good.title }}</p>
            <p>{{ good.descriptions }}</p>
            <a class="my-block" href="{{ good.get_absolute_url }}">
                {% if good.img %}
                    <img class="item" src="{{ good.img.url }}" alt="#{{ good.title }}">
                {% else %}
                    <img src="/pictures/default.jpg" alt="@{{ good.title }}">
                {% endif %}
            </a>
        </div>

    {% endfor %}
    </div>
{% endblock %}