{% extends 'goods/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="background">
        <div class="items">
            <div class="item" style="width: 93%; display: flex;">
                <img style="width: 30%; margin: 10px; border-radius: 10px;" class="icon" src="/pictures/d4dd8eb8f780a703d6339188705011db.jpg" alt="@">
                <div style="padding: 70px 100px;">
                    <span style="font-size: 21px">
                        We invite you to visit our workshop.
                        Here, in a pleasant atmosphere, we can take your order over a cup of tea.
                        You can choose something from our range or order something new, especially for you.
                        Our designer will create a sketch according to your desires in terms of
                        functionality, size and style. You have complete freedom in creating your product.
                        Tell us what kind of things you want to put in the product
                        and what type of product it will be.
                        Our designer will offer you several options.
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
