{% extends 'goods/base.html' %}

{% block title %}
    Страница авторизации
{% endblock %}

{% block content %}
    <div class="background" style="height: 445px">
        <div class="items" style="width: 75%; display: flex; justify-content: center;">
            <div class="item">
                <p style="margin: 15px">{{ title }}</p>
                <form method="post" class="form" style="margin: 15px">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div style=" display: flex; justify-content: center;">
                        <button  class="button_style_footer" type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}